@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h3>Work List</h3>
    
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/75/Hard_working_crew_%2851845431507%29.jpg" alt="Hard Workers"
        style="max-width:30%; height:auto;">

    <div class="row mt-4">
        <div class="col">
            <a href="/UserWorkPages/Users/UserIndex" class="btn btn-primary">Visit Users</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <a href="/UserWorkPages/Works/WorksIndex" class="btn btn-primary">View Works</a>
        </div>
    </div>
</div>
